
<div class="admin-main-block">
    <div class="admin-main-block-header">
        <h2>Страница администрирования</h2>
    </div>
    <div class="admin-main-block-buttons">
        <a th:href="@{/admin}"><button class="admin-main-block-users-btn admin-main-block-item">Управление пользвателями</button></a>
        <a th:href="@{/admin/product}"><button class="admin-main-block-products-btn admin-main-block-item">Управление продуктами</button></a>
        <a th:href="@{/admin/brand}"><button class="admin-main-block-product-categories admin-main-block-item">Управление  брендами</button></a>
        <a th:href="@{/admin/category}"><button class="admin-main-block-product-categories admin-main-block-item">Управление катеориями продуктов</button></a>
    </div>
</div>
