<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить бренд</title>
    <link rel="stylesheet" href="/css/categoryAdd.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
</head>
<body>
<th:block th:include="/_header"></th:block>
<div class="main-block">
    <form method="post" th:action="@{/admin/brandUpdate}" enctype="multipart/form-data" class="registration-data-input">
        <h3 class="category-data-input-head category-data-input-item" >Изменение категории продуктов</h3>
        <h3 style="color: red" th:text="${message}"></h3>
        <div class="category-data-input-item">
            Id категории : <input type="text" th:value="${brand.getId()}" name="brandId" readonly>
        </div>
        <div class="category-data-input-item">
            Новое название категории : <input type="text" th:value="${brand.getBrandName()}" name="brandName" required>
        </div>
        <div class="category-data-input-item">
            Изображение логотипа : <input type="file" name="imgFile">
        </div>
        <div class="category-data-input-item">
            <input type="submit" value="Изменить">
        </div>
    </form>
</div>
<th:block th:include="/_footer"></th:block>
</body>
</html>